<div class="modal fade" id="modal-veg-lg">
	<form id="veg-add-form" autocomplete="off">
		{% csrf_token %}
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-gradient-secondary">
					<h4 class="modal-title">Add New Entry</h4>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<!-- ID Field -->
							<div class="form-group row">
								<div class="col-sm-12">
									<input
										type="text"
										name="vegId"
										id="id_vegId"
										class="form-control"
										disabled
										placeholder="ID"
									/>
									<small class="text-red text-muted mySpan"></small>
								</div>
							</div>

							<!-- campus Field -->
							<div class="form-group row">
								<div class="col-sm-12">
									{{ form.campus }}
									<small class="text-red text-muted mySpan"></small>
								</div>
							</div>

							<!-- campus Field -->
							<div class="form-group row">
								<div class="col-sm-6">
									{{ form.campAreaSqm }}
									<small class="text-red text-muted mySpan"></small>
								</div>
								<div class="col-sm-6">
									{{ form.campAreaHas }}
									<small class="text-red text-muted mySpan"></small>
								</div>
							</div>

							<!-- Forest Vegetation Field -->
							<div class="form-group row">
								<div class="col-sm-4">
									{{ form.forestVegSqm }}
									<small class="text-red text-muted mySpan"></small>
								</div>
								<div class="col-sm-4">
									{{ form.forestVegHas }}
									<small class="text-red text-muted mySpan"></small>
								</div>

								<div class="col-sm-4">
									{{ form.forestVegPctTotArea }}
									<small class="text-red text-muted mySpan"></small>
								</div>
							</div>

							<!-- Plant Field -->
							<div class="form-group row">
								<div class="col-sm-4">
									{{ form.plantVegSqm }}
									<small class="text-red text-muted mySpan"></small>
								</div>
								<div class="col-sm-4">
									{{ form.plantVegHas }}
									<small class="text-red text-muted mySpan"></small>
								</div>

								<div class="col-sm-4">
									{{ form.plantVegPctTotArea }}
									<small class="text-red text-muted mySpan"></small>
								</div>
							</div>

							<!-- Water Field -->
							<div class="form-group row">
								<div class="col-sm-4">
									{{ form.waterAbsSqm }}
									<small class="text-red text-muted mySpan"></small>
								</div>
								<div class="col-sm-4">
									{{ form.waterAbsHas }}
									<small class="text-red text-muted mySpan"></small>
								</div>

								<div class="col-sm-4">
									{{ form.waterAbsPctTotArea }}
									<small class="text-red text-muted mySpan"></small>
								</div>
							</div>

							<!-- Link Field -->
							<div class="form-group row">
								<div class="col-sm-12">
									{{ form.linkPath }}
									<small class="text-red text-muted mySpan"></small>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button
						type="submit"
						class="btn btn-success btn-save"
						data-url="{% url 'sdgSaveUpdateParams' %}"
					>
						Save
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</form>
</div>
<!-- /.modal -->
