<div class="modal fade" id="modal-indicator-lg">
	<form id="indicator-add-form" autocomplete="off">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-gradient-success">
					<h4 class="modal-title">Add New Entry</h4>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							{% csrf_token %}
							<div class="form-group validate">
								<label for="ind-id">Indicator ID</label>
								<input
									type="text"
									name="indId"
									id="id_indId"
									class="form-control"
									disabled
								/>
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="Target">Target</label>
								<select
									id="target"
									name="targetId"
									class="form-control sdg-select"
								>
									<option value="" data-desc="">Select a target</option>
									{% for target in sdgTargetList %}
									<option
										value="{{ target.targetId }}"
										data-desc="{{ target.targetDesc }}"
									>
										{{ target.targetCode }}
									</option>
									{% endfor %}
								</select>
								<blockquote
									id="descBlockquote"
									class="quote-secondary"
									style="display: none"
								>
									<p>Description</p>
									<small id="targetDesc"></small>
								</blockquote>

								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="code"> Code</label>
								{{ form.indCode }}
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="desc"> Indicator</label>
								{{ form.indDesc }}
								<small class="text-red text-muted mySpan"></small>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button
						type="submit"
						class="btn btn-success btn-save"
						data-url="{% url 'sdgIndicatorSaveUpdateParams' %}"
					>
						Save
					</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</form>
</div>
<!-- /.modal-dialog -->
