{% extends 'base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
	<section class="content">
		<!-- Page Header Start -->
		<div
			class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn"
			data-wow-delay="0.1s"
		>
			<div class="container text-center">
				<h1 class="display-4 text-white animated slideInDown mb-4">
					Mabini Campus
				</h1>
				<nav aria-label="breadcrumb animated slideInDown">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Home</a>
						</li>
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Pages</a>
						</li>
						<li class="breadcrumb-item text-primary active" aria-current="page">
							Mabini Campus
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Map Start -->
		<div class="container-xxl py-3">
			<div class="container">
				<div class="row g-0 team-items">
					<h2 class="text-center">MABINI: 1,061,016 sqm</h2>
					<div class="col-lg-6 col-md-6">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-map-holder"
									src="{% static 'img/map-mabini.png' %}"
									alt="map"
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="https://drive.google.com/file/d/1q8EYfD4IF6SEzYQOqUXDNq31ucRuKmsE/view"
										target="_blank"
									>
										<span class="px-3">View</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5>Campus Land Use Map</h5>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-map-holder"
									src="{% static 'img/sdp-mabini.png' %}"
									alt="sdg"
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="https://drive.google.com/file/d/1IEIfW3GPbp11ePSL5Fot5vKKRvMHtbHB/view"
										target="_blank"
									>
										<span class="px-3">View</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5>Campus Site Development Plan</h5>
							</div>
						</div>
					</div>
				
				</div>
				
				<div class="row py-4">
					<hr class="yellow-border" />
					<h5 class="veg-title">
						Campus Vegetation Cover and Water Absorption Areas Map
					</h5>

					<div class="col-lg-6 col-md-6">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-map-holder"
									src="{% static 'img/mabini-veg-map.png' %}"
									alt="map"
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="https://drive.google.com/file/d/1dBWvxW-AVVnnmi9By_-vve7twKjuOdw0/view"
										target="_blank"
									>
										<span class="px-3">View</span>
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<div class="h-100">
							<table class="tbl-veg-map">
								<tr>
									<th colspan="2">Area</th>
								</tr>
								<tr>
									<td>Sqm</td>
									<td>Has</td>
								</tr>
								<tr>
									<td>1060866.615</td>
									<td>106.0866615</td>
								</tr>
								<tr>
									<th colspan="3">Forested Vegetation</th>
								</tr>
								<tr>
									<td>Area</td>
									<td>Hectares</td>
									<td>Percent Total Area</td>
								</tr>
								<tr>
									<td>46765.48224</td>
									<td>4.676548224</td>
									<td>4.408233947</td>
								</tr>

								<tr>
									<th colspan="3">Planted Vegetation</th>
								</tr>
								<tr>
									<td>Area</td>
									<td>Hectares</td>
									<td>Percent of Total Area</td>
								</tr>
								<tr>
									<td>503785.6485</td>
									<td>50.37856485</td>
									<td>47.48812354</td>
								</tr>
								<tr>
									<th colspan="3">Water Absorbing Areas</th>
								</tr>
								<tr>
									<td>Area</td>
									<td>Hectares</td>
									<td>Percent of Total Area</td>
								</tr>
								<tr>
									<td>308400.8609</td>
									<td>30.84008609</td>
									<td>29.07065381</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="col-lg-12">
					<a class="btn btn-primary py-3 px-5 m-3" href="{% url 'campusMap'%}">Back</a>
				</div>
		<!-- Map End -->
	</section>
</div>

{% include 'includes/footer.html' %} {% endblock %}
