{% extends 'base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
	<section class="content">
		<!-- Page Header Start -->
		<div
			class="container-fluid topic-header py-6 my-5 mt-0 wow fadeIn"
			data-wow-delay="0.1s"
		>
			<div class="container">
				<h1 class="display-6 text-white animated slideInDown mb-4 text-center">
					Articles
				</h1>
			</div>
		</div>
		<!-- Page Header End -->

		<!--Topic Start-->
		<div class="container-xxl py-4">
			<div
				id="goal-container"
				class="container"
				data-sdg-goal-id="{{ goal_id }}"
				data-sdg-score-id="{{ sdgScoreId }}"
			>
				<div id="goal-topic" class="row g-5 wow fadeInUp" data-wow-delay="0.5s">
					<!-- diplay articles -->
				</div>
			</div>
		</div>
		<!-- Topic End -->
	</section>
</div>

{% include 'includes/footer.html' %} {% endblock %} {% block scripts %}

<script>
	$(document).ready(function () {
		// const scoreId = document
		// 	.getElementById("goal-container")
		// 	.getAttribute("data-sdg-goal-id");

		const goalContainer = document.getElementById("goal-container");
		goalId = goalContainer.dataset.sdgGoalId;
		scoreId = goalContainer.dataset.sdgScoreId;

		console.log(scoreId);

		$.ajax({
			url: "/getSdgScorecardJsonList/" + scoreId,
			method: "GET",
			dataType: "json",
			success: function (response) {
				console.log(response.data);
				const container = $("#goal-topic"); // Select a container element in your HTML to append cards to
				container.empty(); // Clear previous content

				const filteredData = response.data.filter(
					(item) => item.sdgScoreId === scoreId
				);

				console.log(filteredData);

				response.data.forEach((score) => {
					let relatedLinksHtml = "";
					if (score.links !== "NA") {
						relatedLinksHtml = `
							<h6>Related Links</h6>
							<a href="${score.links}" target="_blank">
								<p>Topic</p>
							</a>
						`;
					}

					const cardHtml = `
						
							<div class="col-lg-4">
								<div class="topic-img">
									<img src="{% static 'img/topic-img.jpg'%}" alt="Logo" />
										<h6 class="mt-3">Related Goals</h6>
										<p>${score.goal}</p>
										  ${relatedLinksHtml}
									</div>
							</div>
							<div  class="col-lg-8">
									<div class="h-100">
										<h4 class="mb-3 text-uppercase">${score.sdgInitName}</h4>
										<p>${score.sdgDesc}</p>
										<h6>Implementing Year</h6>
										<p>${score.sdgImpYear}</p>
										<h6>Strategic Name</h6>
										<p>${score.susStratName}</p>
										<h6>Green Name</h6>
										<p>${score.greenName}</p>
										<h6>Outcome</h6>
										<p>${score.outcome}</p>
										<h6>Output</h6>
										<p>${score.outputs}</p>
										<a class="btn btn-primary py-3 px-5" href="javascript:history.back()">Back</a>
											
									</div>
									
			
							</div>
								

					`;
					container.append(cardHtml);
				});
			},
		});
	});
</script>
{% endblock %}
