{% extends 'base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
	<section class="content">
		<!-- Page Header Start -->
		<div
			class="container-fluid goal13-header py-5-5 my-4 mt-0 pb-5 wow fadeIn"
			data-wow-delay="0.1s"
		>
			<div class="container">
				<div class="row">
					<div class="col-2">
						<a href="{% url  'sustainability-ppa' %}">
							<img
								src="{% static 'img/E_WEB_13.png' %}"
								alt="Card image"
								class="goal-img"
							/>
						</a>
					</div>
					<div class="col-10">
						<h1 class="display-4 text-white animated slideInDown mb-4">
							Goal 13: Climate Action
						</h1>
						<h3 class="text-white animated slideInDown mb-4">
							Take urgent action to combat climate change and its impacts
							through education.
						</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Content Start -->
		<div class="container-xxl py-3">
			<div
				id="goal-container"
				class="container"
				data-sdg-score-id="{{ goalId }}"
			>
				<!-- <div class="row g-5">
					<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
						<div class="h-100">
							<p class="fs-5 text">
								Ensure inclusive and equitable quality education and promote
								lifelong learning opportunities for all
							</p>
						</div>
					</div>
				</div> -->

				<div class="row wow fadeInUp" data-wow-delay="0.5s">
					<!-- <hr class="yellow-border" />
					<h3 class="mb-4 wow fadeInUp" data-wow-delay="0.5s">
						Related Topics
					</h3> -->
					<div class="col-12">
						<ul class="nav nav-tabs mt-4" role="tablist">
							<li class="nav-item">
								<a
									class="nav-link active"
									data-bs-toggle="tab"
									href="#tab1"
									role="tab"
									>About SDG Goal 13</a
								>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#tab2" role="tab"
									>Progress and information</a
								>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#tab3" role="tab"
									>Reports and Downloadable Files</a
								>
							</li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content mt-3">
							<div class="tab-pane active" id="tab1" role="tabpanel">
								<div class="row">
									<div class="col-12">
										<h3 class="animated slideInDown m-4">
											<i>
												"To take urgent action to combat climate change and its
												impacts by reducing greenhouse gas emissions, promoting
												sustainable practices, and building resilience to
												climate-related risks and disasters.."
											</i>
										</h3>
									</div>
									<hr class="yellow-border" />
									<div class="col-12 text-center">
										<img
											src="{% static 'img/E_infographics_13.png' %}"
											alt="Card image"
											class="ifographic-img"
										/>
									</div>
									<hr class="yellow-border" />
									<h3 class="display-6 text-center">Targets and Indicators</h3>
									<div class="col-12" id="targets-container"></div>
								</div>
							</div>
							<div class="tab-pane" id="tab2" role="tabpanel">
								<hr class="yellow-border" />
								<div id="goal-list-container" class="row">
									<!-- Dynamic cards will be inserted here -->
								</div>
							</div>
							<div class="tab-pane" id="tab3" role="tabpanel">
								<hr class="yellow-border" />
								<div class="row g-0 team-items">
									<div
										class="col-lg-2 col-md-6 wow fadeInUp"
										data-wow-delay="0.1s"
									>
										<div class="team-item position-relative">
											<div class="position-relative">
												<img
													class="img-fluid"
													src="{% static 'img/sdg_report.jpg' %}"
													alt=""
												/>
												<div class="team-social text-center">
													<a
														class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
														href="https://drive.google.com/file/d/1LZGQjKuS4YKy2qRd0JQOpfQmwai8ER5D/view"
														target="_blank"
													>
														<span class="px-3">Read More</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Content End -->
	</section>
</div>

{% include 'includes/footer.html' %} {% endblock %} {% block scripts %}
<script>
	$(document).ready(function () {
		const goalId = document
			.getElementById("goal-container")
			.getAttribute("data-sdg-score-id");

		$.ajax({
			url: "/goalJsonFetchPerId/" + goalId,
			method: "GET",
			dataType: "json",
			success: function (response) {
				var container = $("#targets-container");
				container.empty(); // Clear any existing content

				response.data.forEach(function (sdg) {
					sdg.targets.forEach(function (target) {
						var targetHtml = `
                         		<div class="card mb-3">
											<div class="card-body">
												<div class="row">
													<div class="col-2">
														<div class="ind-img">
															<img
																src="{% static 'img/sdg-circular.png' %}"
																alt="Card image"
																class="ind-logo"
															/>
														</div>
													</div>
													<div class="col-10">
														<div class="sdg-content p-2">
															<h5 class="mb-0">Target</h5>
															<h4 class="mb-2 display-6">${target.targetCode}</h4>
															<p class="mb-0">
																${target.targetDesc}
															</p>
															<button
																class="btn btn-link btn-primary mt-2 px-5"
																data-bs-toggle="collapse"
																data-bs-target="#collapseTarget${target.targetId}"
																aria-expanded="false"
																 aria-controls="collapseTarget${target.targetId}"
															>
																Indicator(s)
															</button>
														</div>
													</div>
												</div>
											</div>
											<div id="collapseTarget${target.targetId}" class="collapse">
												<div class="card-footer">
													<div class="row">
														<div class="col-12">
															 ${target.indicators
																	.map(function (indicator) {
																		return `
															<div class="ind-content">
																<h6 class="ind-code">${indicator.indCode}</h6>
																<p class="ind-desc h6">
																	${indicator.indDesc}
																</p>
															</div>`;
																	})
																	.join("")}
														</div>
													
													</div>
												</div>
											</div>
										</div>
						`;

						container.append(targetHtml);
					});
				});
			},
			error: function (xhr, status, error) {
				console.error("Error fetching SDG data:", error);
			},
		});

		$.ajax({
			url: "/getGoalListJsonList/" + goalId,
			method: "GET",
			dataType: "json",
			success: function (response) {
				console.log(response.data);
				const container = $("#goal-list-container"); // Select a container element in your HTML to append cards to
				container.empty(); // Clear previous content

				if (!response.data.length) {
					const errorHtml = `
						<div class="col-12">
							<h4 class="card-title text-center">No Article(s)Found</h4>
						</div>
					`;
					container.append(errorHtml);
				} else {
					response.data.forEach((goal) => {
						const goalTopicUrl = "{% url 'goal-topic' goal_id=0 sdgScoreId=0 %}"
							.replace("0", goalId)
							.replace("0", goal.sdgScoreId);

						const cardHtml = `
						<div class="col-6 mb-2">
							<div class="card card-horizontal p-2">
								<img
									src="{% static 'img/E_WEB_13.png' %}"
									alt="Card image"
									class="card-img"
								/>
								<div class="card-body">
									<h4 class="card-title">${goal.sdgInitName}</h4>
									<a class="btn btn-outline-primary py-3 px-5" 
									href="${goalTopicUrl}">
									Read More</a>
								</div>
							</div>
						</div>
					`;
						container.append(cardHtml);
					});
				}
			},
		});
	});
</script>
{% endblock %}
