{% extends 'base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
	<section class="content">
		<!-- Carousel Start -->
		<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
			<div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img
							class="w-100 custom-height"
							src="{% static 'img/carousel-1.jpg' %}"
							alt="Image"
						/>
						<div class="carousel-caption">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-lg-10">
										<h1 class="display-2 text-light mb-5 animated slideInDown">
											17 Goals to Transform Our World
										</h1>
										<a
											href="{% url  'sustainability-ppa' %}"
											class="btn btn-primary py-sm-3 px-sm-5"
											>Learn More</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img
							class="w-100 custom-height"
							src="{% static 'img/carousel-2.jpg' %}"
							alt="Image"
						/>
						<div class="carousel-caption">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-lg-10">
										<h1 class="display-2 text-light mb-5 animated slideInDown">
											USeP Commitments
										</h1>
										<a
											href="{% url  'commitment' %}"
											class="btn btn-primary py-sm-3 px-sm-5"
											>Learn More</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button
					class="carousel-control-prev"
					type="button"
					data-bs-target="#header-carousel"
					data-bs-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next"
					type="button"
					data-bs-target="#header-carousel"
					data-bs-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<!-- Carousel End -->

		<!-- HOME -->
		<div class="container-xxl py-6">
			<div class="container">
				<div class="row g-5">
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="global-img">
							<img src="{% static 'img/sdg-circular.png' %}" alt="Logo" />
						</div>
					</div>

					<!-- <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="global-img"></div>
            <img src="img/sdg-circular.png" alt="Logo" />
        </div> -->
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="h-100">
							<!-- <h6 class="text-primary text-uppercase mb-2">HOME</h6> -->
							<h1 class="display-6 mb-4">19 Goals to Transform Our World</h1>
							<p>
								On 25 September 2015, countries adopted a set of goals to end
								poverty, protect the planet, and ensure prosperity for all as
								part of a new sustainable development agenda. Each goal has
								specific targets to be achieved over the next 15 years.
							</p>
							<p class="mb-4">
								The Sustainable Development Goals are a call for action by all
								countries – poor, rich and middle-income – to promote prosperity
								while protecting the planet. They recognize that ending poverty
								must go hand-in-hand with strategies that build economic growth
								and address a range of social needs including education, health,
								social protection, and job opportunities, while tackling climate
								change and environmental protection.
							</p>
							<p>To learn more about SDGs visit the Official Page</p>

							<h2>More of SDG</h2>
							<div class="row g-2 mb-4 pb-2">
								<div class="col-sm-12">
									<i class="fa fa-check text-primary me-2"></i>The Lazy Person’s
									Guide to Saving the World
								</div>
								<div class="col-sm-12">
									<i class="fa fa-check text-primary me-2"></i>170 Actions to
									Transform Our World
								</div>
								<div class="col-sm-12">
									<i class="fa fa-check text-primary me-2"></i>Board Game “Go
									Goals!”
								</div>
							</div>
							<!-- <div class="row g-4">
                    <div class="col-sm-6">
                        <a class="btn btn-primary py-3 px-5" href="">Read More</a>
                    </div>
                    <div class="col-sm-6">
                        <a
                            class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
                            href="tel:+0123456789"
                        >
                            <span class="flex-shrink-0 btn-square bg-primary">
                                <i class="fa fa-phone-alt text-white"></i>
                            </span>
                            <span class="px-3">+012 345 6789</span>
                        </a>
                    </div>
                </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About End -->

		<!-- About Start -->
		<div class="container-xxl py-6">
			<div class="container">
				<div class="row g-5">
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="h-100">
							<!-- <h6 class="text-primary text-uppercase mb-2">About Us</h6> -->
							<h1 class="display-6 mb-4">COMMITMENTS</h1>
							<p>
								As education is critical in promoting and assisting the
								achievement of the SDGs, USeP responds to the call of the United
								Nations on the localization of the Sustainable Development Goals
								through various initiatives aimed at alleviating poverty,
								promoting sustainable agriculture, and providing equitable,
								high-quality, and lifelong learning.
							</p>
							<p>
								It may also build resilient infrastructure and gender-responsive
								programs and projects, ensure sustainable consumption and
								production patterns, combat climate change and its impact,
								promote sustainable land resources, and promote peace and order.
							</p>
							<div class="row g-4">
								<div class="col-lg-12">
									<a
										class="btn btn-primary py-3 px-5"
										href="{% url  'commitment' %}"
										>Read More</a
									>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="commitment-img">
							<img
								src="{% static 'img/sir-boni-crop.png' %}"
								alt=""
								class="pres-img"
							/>
							<img
								class="position-absolute top-0 start-0 pe-3 pb-3"
								src="{% static 'img/usep-logo.png' %}"
								alt=""
								style="width: 200px; height: 200px"
							/>
						</div>
						<div class="bg-white shadow text-center p-4">
							<h5>Dr. Bonifacio G. Gabales, Jr.</h5>
							<p class="m-0">SUC President IV</p>
							<p class="m-0">University of Southeastern Philippines</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About End -->

		<!-- Global Rankings -->
		<div class="container-xxl global-ranking my-6 py-6 pb-0">
			<div class="container">
				<div class="row mb-5">
					<div class="col-12 text-center wow fadeInUp" data-wow-delay="0.5s">
						<h1 class="mb-5">GLOBAL RANKINGS</h1>
					</div>
					<div class="col-6">
						<div class="logo-metric wow fadeInUp" data-wow-delay="0.5s">
							<img
								src="{% static 'img/ui-green-metric-logo.png' %}"
								alt="Logo"
							/>
						</div>
					</div>
					<div class="col-6">
						<div class="logo-impact wow fadeInUp" data-wow-delay="0.5s">
							<img
								src="{% static 'img/impact-ranking-logo.jpg' %}"
								alt="Logo"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Global End -->

		<!-- Sustainability Start -->
		<div class="container-xxl py-6">
			<div class="container">
				<div
					class="text-center mx-auto mb-5 wow fadeInUp"
					data-wow-delay="0.1s"
					style="max-width: 500px"
				>
					<!-- <h6 class="text-primary text-uppercase mb-2">Meet The Team</h6> -->
					<h1 class="display-6 mb-4">SUSTAINABILITY</h1>
				</div>
				<div class="row g-0 team-items">
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/sustain-1.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5 class="mt-2">Program</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/sustain-2.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5 class="mt-2">Project</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/sustain-3.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5 class="mt-2">Policy</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/sustain-4.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5 class="mt-2">News</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Sustainability End -->

		<!-- Strategy Start -->
		<div class="container-xxl py-6">
			<div class="container">
				<div class="row g-5">
					<div class="col-12 text-center fadeInUp" data-wow-delay="0.5s">
						<!-- <h6 class="text-primary text-uppercase mb-2"></h6> -->
						<h1 class="display-6 mb-4">STRATEGY</h1>
					</div>
					<div class="col-lg-12 mt-0 wow fadeInUp" data-wow-delay="0.5s">
						<div
							class="position-relative overflow-hidden pe-5 pt-5 h-100"
							style="min-height: 400px"
						>
							<img
								class="position-absolute w-100 h-100"
								src="{% static 'img/usep-admin-bldg.png' %}"
								alt=""
								style="object-fit: cover"
							/>
						</div>
					</div>

					<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
						<p>
							One of the identified strategic opportunities of the University is
							the Localization of Sustainable Development Goals. Education is
							critical for promoting and assisting in achieving the SDG targets.
							USeP responds to the United Nations' call with initiatives to
							alleviate poverty, promote sustainable agriculture, and provide
							equitable, high-quality, and lifelong learning. It may also build
							resilient infrastructure and gender-responsive programs and
							projects, ensure sustainable consumption and production patterns,
							combat climate change and its impact, promote sustainable land
							resources, and promote peace and order.
						</p>
						<p>
							USeP’s commitment to SDGs is embodied in the Board approved
							strategic plan and Land Use Development and Infrastructure Plan
							across campuses.
						</p>
					</div>
					<div class="col-6 mt-1 wow fadeInUp" data-wow-delay="0.1s">
						<a class="btn btn-primary py-3 px-5" href="{% url  'strategy' %}"
							>Read More</a
						>
					</div>
				</div>
			</div>
		</div>
		<!-- Strategy End -->
	</section>
</div>

{% include 'includes/footer.html' %} {% endblock %}
