{% extends 'base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
	<section class="content">
		<!-- Page Header Start -->
		<div
			class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn"
			data-wow-delay="0.1s"
		>
			<div class="container text-center">
				<h1 class="display-4 text-white animated slideInDown mb-4">News</h1>
				<nav aria-label="breadcrumb animated slideInDown">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Home</a>
						</li>
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Pages</a>
						</li>
						<li class="breadcrumb-item text-primary active" aria-current="page">
							News
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Strategy Start -->
		<div class="container-xxl py-3">
			<div class="container">
				<div class="row g-5">
					<div class="col-12 text-center fadeInUp" data-wow-delay="0.5s">
						<h1 class="display-6 mb-4">News Title</h1>
					</div>
					<div class="col-12">
						<hr />
						<h5>4/15/2025</h5>
						<hr />
					</div>
					<div class="col-lg-12 mt-0 wow fadeInUp" data-wow-delay="0.5s">
						<div
							class="position-relative overflow-hidden pe-5 pt-5 h-100"
							style="min-height: 400px"
						>
							<img
								class="position-absolute w-100 h-100"
								src="{% static 'img/usep-admin-bldg.png' %}"
								alt=""
								style="object-fit: cover"
							/>
						</div>
					</div>

					<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
						<p>
							One of the identified strategic opportunities of the University is
							the Localization of Sustainable Development Goals. Education is
							critical for promoting and assisting in achieving the SDG targets.
							USeP responds to the United Nations' call with initiatives to
							alleviate poverty, promote sustainable agriculture, and provide
							equitable, high-quality, and lifelong learning. It may also build
							resilient infrastructure and gender-responsive programs and
							projects, ensure sustainable consumption and production patterns,
							combat climate change and its impact, promote sustainable land
							resources, and promote peace and order.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Strategy End -->
	</section>
</div>

{% include 'includes/footer.html' %} {% endblock %}
