{% extends 'base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
	<section class="content">
		<!-- Page Header Start -->
		<div
			class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn"
			data-wow-delay="0.1s"
		>
			<div class="container text-center">
				<h1 class="display-4 text-white animated slideInDown mb-4">Policy</h1>
				<!-- <nav aria-label="breadcrumb animated slideInDown">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Home</a>
						</li>
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Pages</a>
						</li>
						<li class="breadcrumb-item text-primary active" aria-current="page">
							Policy
						</li>
					</ol>
				</nav> -->
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Strategy Start -->
		<!-- <div class="container-xxl py-3">
			<div class="container">
				<div class="row">
					<h1 class="display-6 text-center mb-3">SUSTAINABILITY POLICIES</h1>
					<hr class="yellow-border" />
					<div class="col-lg-12 col-sm-12">
						<div class="row wow fadeInUp" data-wow-delay="0.1s">
							<div class="col-lg-4">
								<div class="topic-img">
									<img src="{% static 'img/policy.jpg'%}" alt="Logo" />
								</div>
							</div>
							<div class="col-lg-8">
								<div class="col-sm-12">
									<a
										href=" https://drive.google.com/file/d/1gSIAodTAY2qrwkn-7p3AnbqDIhQGBzeg/view?usp=sharing"
										target="_blank"
									>
										<h5 class="policy-title">RDE Agenda</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href="https://drive.google.com/file/d/1PRXLxUaxm13uTDeCvhf1uosIHb79xpTI/view?usp=sharing\"
										target="_blank"
									>
										<h5 class="policy-title">Merit’s Selection Plan</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href=" https://drive.google.com/file/d/1fTz7Pjv5X-WEhhOULQSYm9CdCrCWc5Xs/view"
										target="_blank"
									>
										<h5 class="policy-title">ATSUP</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href=" https://drive.google.com/file/d/134xNZ5D2MgJgXsWFtTvQMTCMghDj28Wd/view"
										target="_blank"
									>
										<h5 class="policy-title">
											Security and Austerity Measures
										</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href="https://drive.google.com/file/d/1GpfcPhszaMuUmEcMUD0d8eYx49C8kywK/view"
										target="_blank"
									>
										<h5 class="policy-title">
											Enhancement of University Transpo Services through
											Feedback Mechanisms
										</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href="https://drive.google.com/file/d/1oieb5PeJb65egAbTVKFxuz3ndBjG165G/view"
										target="_blank"
									>
										<h5 class="policy-title">
											In-house text broadcasting system
										</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href="https://drive.google.com/file/d/11D-9Bd-KdlWl8rXJ74GqA_AVmpIptWxi/view?usp=sharing"
										target="_blank"
									>
										<h5 class="policy-title">Sustainable Futures Caravan</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href="https://drive.google.com/file/d/18-kyeR_CzqLU4Xs3Ar5PBQtccNsB1cO1/view?usp=sharing"
										target="_blank"
									>
										<h5 class="policy-title">BOSH Training</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href="https://drive.google.com/file/d/1cLCT2ECeHgslyAU34F0SEKqCmSNfVxU-/view"
										target="_blank"
									>
										<h5 class="policy-title">
											Virtual Orientation on GAD Planning
										</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href="https://drive.google.com/file/d/1zD4uVUpYZbv6LpQNuz529nZR_0n_qxT4/view?usp=sharing"
										target="_blank"
									>
										<h5 class="policy-title">National Women’s Month</h5>
									</a>
								</div>

								<div class="col-sm-12">
									<a
										href="https://drive.google.com/file/d/1r5hmkNORP0W2hFk0dHOQujlP1s80HQSv/view"
										target="_blank"
									>
										<h5 class="policy-title">Mental Health Break</h5>
									</a>
								</div>
							</div>
							<hr class="yellow-border" />
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Strategy End -->

		<div class="container-xxl py-3">
			<div class="container wow fadeIn" data-wow-delay="0.1s">
				<div class="row py-3">
					<div class="col-12">
						<h1 class="display-6 text-center">SUSTAINABILITY POLICIES</h1>
						<hr class="yellow-border" />
					</div>
				</div>

				{% if policyList %} {% for policy in policyList %}
				<div class="row">
					<div class="col-lg-3 col-sm-3">
						<div class="topic-img">
							{% if policy.imgPath %}
							<img src="{{ policy.imgPath.url }}" alt="{{ policy.title }}" />
							{% else %}
							<p>No image available.</p>
							{% endif %}
						</div>
					</div>
					<div class="col-lg-9 col-sm-9">
						<div class="h-100">
							<h4 class="mb-3 text-uppercase">{{ policy.title }}</h4>
							<p>{{ policy.description }}</p>
							<a href="{{ policy.linkPath }}" target="_blank">
								<p>Read More</p>
							</a>
						</div>
					</div>
					<hr class="yellow-border" />
				</div>
				{% endfor %} {% else %}
				<div class="row">
					<div class="col-lg-12 col-sm-12">
						<h2 class="text-center">Policy not found.</h2>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</section>
</div>

{% include 'includes/footer.html' %} {% endblock %}
