{% extends 'base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
	<section class="content">
		<!-- Page Header Start -->
		<div
			class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn"
			data-wow-delay="0.1s"
		>
			<div class="container text-center">
				<h1 class="display-4 text-white animated slideInDown mb-4">
					SDG Scorecard
				</h1>
				<nav aria-label="breadcrumb animated slideInDown">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Home</a>
						</li>
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Pages</a>
						</li>
						<li class="breadcrumb-item text-primary active" aria-current="page">
							scorecard
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Contact Start -->
		<div class="container-xxl">
			<div class="container">
				<div class="row g-5">
					<h1 class="display-3 mb-4 text-center">Going above and beyond</h1>
					<div
						class="col-lg-8 wow fadeInUp"
						data-wow-delay="0.1s"
						style="width: 100%; max-width: 800px; margin: auto"
					>
						<canvas id="myChart"></canvas>
					</div>

					<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
						<h1 class="display-6 mb-4">USeP Scorecard</h1>
						<p class="mb-4">
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum."
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Contact End -->
	</section>
</div>

{% include 'includes/footer.html' %} {% endblock %} {% block scripts %}
<script>
	// setup
	const data = {
		labels: [
			"goal 1",
			"goal 2",
			"goal 3",
			"goal 4",
			"goal 5",
			"goal 6",
			"goal 7",
			"goal 8",
			"goal 9",
			"goal 10",
			"goal 11",
			"goal 12",
			"goal 13",
			"goal 14",
			"goal 15",
			"goal 16",
			"goal 17",
		],
		datasets: [
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 0.1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 0.1)",
					"rgba(201, 26, 39,  0.1)",
					"rgba(238, 64, 86, 0.1)",
					"rgba(71, 180, 226,  0.1)",
					"rgba(252, 189, 31,  0.1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53,  0.1)",
					"rgba(221, 20, 106, 1)",
					"rgba(245, 161, 46, 1)",
					"rgba(192, 137, 46,  0.1)",
					"rgba(67, 140, 63,  0.1)",
					"rgba(20, 154, 207, 1)",
					"rgba(93, 189, 70,  0.1)",
					"rgba(35, 71, 154,  0.1)",
					"rgba(18, 68, 114,  0.1)",
				],
				borderWidth: 5, // Border width for spacing
				borderRadius: 5, // Rounds the edges of each segment
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 0.1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 0.1)",
					"rgba(201, 26, 39, 0.1)",
					"rgba(238, 64, 86, 0.1)",
					"rgba(71, 180, 226, 0.1)",
					"rgba(252, 189, 31, 0.1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53, 0.1)",
					"rgba(221, 20, 106, 1)",
					"rgba(245, 161, 46, 1)",
					"rgba(192, 137, 46, 0.1)",
					"rgba(67, 140, 63, 1)",
					"rgba(20, 154, 207, 1)",
					"rgba(93, 189, 70, 0.1)",
					"rgba(35, 71, 154,  0.1)",
					"rgba(18, 68, 114, 0.1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 0.1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 0.1)",
					"rgba(201, 26, 39, 0.1)",
					"rgba(238, 64, 86, 0.1)",
					"rgba(71, 180, 226, 0.1)",
					"rgba(252, 189, 31, 0.1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53, 0.1)",
					"rgba(221, 20, 106, 0.1)",
					"rgba(245, 161, 46, 1)",
					"rgba(192, 137, 46, 0.1)",
					"rgba(67, 140, 63, 0.1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70, 0.1)",
					"rgba(35, 71, 154,  0.1)",
					"rgba(18, 68, 114, 1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 0.1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 0.1)",
					"rgba(201, 26, 39, 0.1)",
					"rgba(238, 64, 86, 0.1)",
					"rgba(71, 180, 226, 0.1)",
					"rgba(252, 189, 31, 0.1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53,0.1)",
					"rgba(221, 20, 106, 0.1)",
					"rgba(245, 161, 46, 1)",
					"rgba(192, 137, 46, 0.1)",
					"rgba(67, 140, 63, 0.1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70, 0.1)",
					"rgba(35, 71, 154,  0.1)",
					"rgba(18, 68, 114, 0.1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 0.1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 0.1)",
					"rgba(201, 26, 39, 0.1)",
					"rgba(238, 64, 86, 0.1)",
					"rgba(71, 180, 226, 0.1)",
					"rgba(252, 189, 31, 0.1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53, 0.1)",
					"rgba(221, 20, 106, 0.1)",
					"rgba(245, 161, 46, 0.1)",
					"rgba(192, 137, 46, 0.1)",
					"rgba(67, 140, 63, 1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70, 0.1)",
					"rgba(35, 71, 154, 1)",
					"rgba(18, 68, 114, 0.1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 0.1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 0.1)",
					"rgba(201, 26, 39, 0.1)",
					"rgba(238, 64, 86, 0.1)",
					"rgba(71, 180, 226, 1)",
					"rgba(252, 189, 31, 0.1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53, 0.1)",
					"rgba(221, 20, 106, 0.1)",
					"rgba(245, 161, 46, 0.1)",
					"rgba(192, 137, 46, 0.1)",
					"rgba(67, 140, 63, 1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70, 0.1)",
					"rgba(35, 71, 154,  0.1)",
					"rgba(18, 68, 114, 0.1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 0.1)",
					"rgba(201, 26, 39, 0.1)",
					"rgba(238, 64, 86, 1)",
					"rgba(71, 180, 226, 1)",
					"rgba(252, 189, 31, 0.1)",
					"rgba(167, 25, 72, 1)",
					"rgba(229, 103, 53, 1)",
					"rgba(221, 20, 106, 1)",
					"rgba(245, 161, 46, 0.1)",
					"rgba(192, 137, 46, 0.1)",
					"rgba(67, 140, 63, 0.1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70, 0.1)",
					"rgba(35, 71, 154,  0.1)",
					"rgba(18, 68, 114, 0.1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 0.1)",
					"rgba(201, 26, 39, 1)",
					"rgba(238, 64, 86, 1)",
					"rgba(71, 180, 226, 1)",
					"rgba(252, 189, 31, 0.1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53, 1)",
					"rgba(221, 20, 106, 0.1)",
					"rgba(245, 161, 46, 0.1)",
					"rgba(192, 137, 46, 1)",
					"rgba(67, 140, 63, 0.1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70, 0.1)",
					"rgba(35, 71, 154, 1)",
					"rgba(18, 68, 114, 0.1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 1)",
					"rgba(252, 195, 10, 0.1)",
					"rgba(73, 157, 73, 1)",
					"rgba(201, 26, 39, 1)",
					"rgba(238, 64, 86, 1)",
					"rgba(71, 180, 226, 1)",
					"rgba(252, 189, 31, 0.1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53, 1)",
					"rgba(221, 20, 106, 1)",
					"rgba(245, 161, 46, 0.1)",
					"rgba(192, 137, 46, 1)",
					"rgba(67, 140, 63, 0.1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70, 1)",
					"rgba(35, 71, 154,  0.1)",
					"rgba(18, 68, 114, 0.1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 1)",
					"rgba(252, 195, 10, 1)",
					"rgba(73, 157, 73, 1)",
					"rgba(201, 26, 39, 1)",
					"rgba(238, 64, 86, 1)",
					"rgba(71, 180, 226, 1)",
					"rgba(252, 189, 31, 1)",
					"rgba(167, 25, 72, 0.1)",
					"rgba(229, 103, 53, 0.1)",
					"rgba(221, 20, 106, 1)",
					"rgba(245, 161, 46, 0.1)",
					"rgba(192, 137, 46, 1)",
					"rgba(67, 140, 63, 0.1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70, 1)",
					"rgba(35, 71, 154,  0.1)",
					"rgba(18, 68, 114, 0.1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 1)",
					"rgba(252, 195, 10, 1)",
					"rgba(73, 157, 73, 1)",
					"rgba(201, 26, 39, 1)",
					"rgba(238, 64, 86, 1)",
					"rgba(71, 180, 226, 1)",
					"rgba(252, 189, 31, 1)",
					"rgba(167, 25, 72, 1)",
					"rgba(229, 103, 53, 0.1)",
					"rgba(221, 20, 106, 0.1)",
					"rgba(245, 161, 46, 0.1)",
					"rgba(192, 137, 46, 1)",
					"rgba(67, 140, 63, 0.1)",
					"rgba(20, 154, 207, 0.1)",
					"rgba(93, 189, 70,  0.1)",
					"rgba(35, 71, 154, 1)",
					"rgba(18, 68, 114, 1)",
				],
				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
			},
			{
				label: "Weekly Sales",
				data: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
				backgroundColor: [
					"rgba(194, 25, 47, 0)",
					"rgba(252, 195, 10, 0)",
					"rgba(73, 157, 73, 0)",
					"rgba(201, 26, 39, 0)",
					"rgba(238, 64, 86, 0)",
					"rgba(71, 180, 226, 0)",
					"rgba(252, 189, 31, 0)",
					"rgba(167, 25, 72, 0)",
					"rgba(229, 103, 53, 0)",
					"rgba(221, 20, 106, 0)",
					"rgba(245, 161, 46, 0)",
					"rgba(192, 137, 46, 0)",
					"rgba(67, 140, 63, 0)",
					"rgba(20, 154, 207, 0)",
					"rgba(93, 189, 70, 0)",
					"rgba(35, 71, 154, 0)",
					"rgba(18, 68, 114, 0)",
				],

				borderWidth: 1,
				borderWidth: 5,
				borderRadius: 5,
				image: [
					"{% static 'img/E_SDG_Icons-01.jpg' %}",
					"{% static 'img/E_SDG_Icons-02.jpg' %}",
					"{% static 'img/E_SDG_Icons-03.jpg' %}",
					"{% static 'img/E_SDG_Icons-04.jpg' %}",
					"{% static 'img/E_SDG_Icons-05.jpg' %}",
					"{% static 'img/E_SDG_Icons-06.jpg' %}",
					"{% static 'img/E_SDG_Icons-07.jpg' %}",
					"{% static 'img/E_SDG_Icons-08.jpg' %}",
					"{% static 'img/E_SDG_Icons-09.jpg' %}",
					"{% static 'img/E_SDG_Icons-10.jpg' %}",
					"{% static 'img/E_SDG_Icons-11.jpg' %}",
					"{% static 'img/E_SDG_Icons-12.jpg' %}",
					"{% static 'img/E_SDG_Icons-13.jpg' %}",
					"{% static 'img/E_SDG_Icons-14.jpg' %}",
					"{% static 'img/E_SDG_Icons-15.jpg' %}",
					"{% static 'img/E_SDG_Icons-16.jpg' %}",
					"{% static 'img/E_SDG_Icons-17.jpg' %}",
				],
			},
		],
	};

	const segmentImage = {
		id: "segmentImage",
		afterDatasetDraw(chart, args, plugins) {
			const { ctx, data } = chart;
			const angle = Math.PI / 180;
			const width = 30;
			ctx.save();

			// Access dataset-specific radii adjustments
			const datasetIndex = 11;
			const innerRadiusAdjustment = datasetIndex * 5; // Example adjustment factor
			const outerRadiusAdjustment = datasetIndex * 10; // Example adjustment factor

			// Modify the inner and outer radius for the datasetIndex
			chart.getDatasetMeta(datasetIndex).controller.innerRadius +=
				innerRadiusAdjustment;
			chart.getDatasetMeta(datasetIndex).controller.outerRadius +=
				outerRadiusAdjustment;

			chart.getDatasetMeta(0).data.forEach((datapoint, index) => {
				const image = new Image();
				image.src = data.datasets[datasetIndex].image[index];

				const x = chart
					.getDatasetMeta(datasetIndex)
					.data[index].tooltipPosition().x;
				const y = chart
					.getDatasetMeta(datasetIndex)
					.data[index].tooltipPosition().y;

				// Clip to a circular path to make the image round
				ctx.beginPath();
				ctx.arc(x, y, width / 2, 0, angle * 360, false);
				ctx.closePath();
				ctx.clip();

				// Draw the image in the circular clipped area
				ctx.drawImage(image, x - width / 2, y - width / 2, width, width);

				// Restore the clipping region
				ctx.restore();
				ctx.save();
			});

			ctx.restore();
		},
	};

	// config
	const config = {
		type: "doughnut",
		data,
		options: {
			cutout: "20%", // Adjusts the inner radius of the doughnut
			spacing: 10, //
			// scales: {
			// 	y: {
			// 		beginAtZero: true,
			// 	},
			// },
			plugins: {
				legend: {
					display: false, // Hide legend labels
				},
				// datalabels: {
				// 	display: true,
				// 	color: "#fff", // Text color
				// 	font: {
				// 		weight: "bold",
				// 	},
				// 	anchor: "center", // Position label in the center of each segment
				// 	align: "center", // Align label at the center
				// 	formatter: (value) => value, // Show raw data values from the array
				// },
			},
		},
		plugins: [segmentImage],
	};

	// Chart.register(ChartDataLabels);

	// render init block
	const myChart = new Chart(document.getElementById("myChart"), config);

	// Instantly assign Chart.js version
	const chartVersion = document.getElementById("chartVersion");
</script>
{% endblock %}
