{% extends 'base.html' %} {% load static %} {% block body %}

<div class="content-wrapper">
	<section class="content">
		<!-- Page Header Start -->
		<div
			class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn"
			data-wow-delay="0.1s"
		>
			<div class="container text-center">
				<h1 class="display-4 text-white animated slideInDown mb-4">Strategy</h1>
				<nav aria-label="breadcrumb animated slideInDown">
					<ol class="breadcrumb justify-content-center mb-0">
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Home</a>
						</li>
						<li class="breadcrumb-item">
							<a class="text-white" href="#">Pages</a>
						</li>
						<li class="breadcrumb-item text-primary active" aria-current="page">
							Strategy
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Strategy Start -->
		<div class="container-xxl py-3">
			<div class="container">
				<div class="row g-5">
					<div class="col-12 text-center fadeInUp" data-wow-delay="0.5s">
						<!-- <h6 class="text-primary text-uppercase mb-2"></h6> -->
						<h1 class="display-6 mb-4">USeP SUSTAINABLE DEVELOPMENT GOALS</h1>
					</div>
					<div class="col-lg-12 mt-0 wow fadeInUp" data-wow-delay="0.5s">
						<div
							class="position-relative overflow-hidden pe-5 pt-5 h-100"
							style="min-height: 400px"
						>
							<img
								class="position-absolute w-100 h-100"
								src="{% static 'img/usep-admin-bldg.png' %}"
								alt=""
								style="object-fit: cover"
							/>
						</div>
					</div>

					<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
						<p>
							One of the identified strategic opportunities of the University is
							the Localization of Sustainable Development Goals. Education is
							critical for promoting and assisting in achieving the SDG targets.
							USeP responds to the United Nations' call with initiatives to
							alleviate poverty, promote sustainable agriculture, and provide
							equitable, high-quality, and lifelong learning. It may also build
							resilient infrastructure and gender-responsive programs and
							projects, ensure sustainable consumption and production patterns,
							combat climate change and its impact, promote sustainable land
							resources, and promote peace and order.
						</p>
						<p>
							USeP’s commitment to SDGs is embodied in the Board approved
							strategic plan and Land Use Development and Infrastructure Plan
							across campuses.
						</p>
						<p>
							The localization of SDGs in USeP can be attributed to the
							promotion of high-quality education (e.g., integration in the
							curriculum) and Research & Development programs and projects,
							Policies, Governance, and Partnerships. The immediate and
							long-term results will be measured using the Science, Engineering,
							Technology, and Innovation (SETI) Scorecard and the Social and
							Human Science, Education, Culture, and Communication & Information
							(SECCI) Scorecard.
						</p>
					</div>
				</div>
				<hr class="yellow-border" />
				<div class="row">
					<h1 class="display-6 text-center mb-3">
						USeP SUSTAINABILITY STRATEGY
					</h1>
					<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
						<p>
							To ensure the impacts of the University’s sustainability efforts,
							especially on the entire academic and partnered communities,
							USeP’s sustainability strategy plan is based on the Triple Bottom
							Line approach in measuring the social and environmental impacts,
							aside from generating revenues from the Income Generating Projects
							and other sources to run the University. To measure sustainability
							performance, USeP will use the Environment, Social, and Governance
							Metrics patterned from the various global ranking criteria on
							sustainability and Sustainable Development Goals. The overall
							impact of the University’s initiatives must contribute to the
							achievement of the vision of transforming communities and the
							overall goal of UN SDGs to transform the world. Before identifying
							specific actions, USeP will conduct an assessment per campus using
							existing tools (e.g., UI GreenMetric, THE Impact Ranking). The
							following are the major strategies.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Strategy End -->

		<!--Sustainability Record Start-->
		<div class="container-xxl">
			<div class="row wow fadeInUp" data-wow-delay="0.1s">
				<div class="col-lg-3">
					<div class="topic-img">
						<img src="{% static 'img/green-facility.jpg'%}" alt="Logo" />
					</div>
				</div>
				<div class="col-lg-9">
					<h4>Green Resilience Facilities</h4>
					<p>
						In setting up the infrastructure, USeP’s building designs should
						incorporate hazard resistance and sustainability concepts to ensure
						the environmental sustainability of buildings and reduce its
						negative impact on health and the environment. Quality learning and
						working space guidelines are essential to provide a modern working
						and learning environment. It is also essential to utilize
						infrastructure design that reduces energy consumption and is
						resilient to the impacts of the changing climate. The designs must
						conform to all the building-related policies in the country.
					</p>
				</div>
				<hr class="yellow-border" />
			</div>
			<div class="row wow fadeInUp" data-wow-delay="0.1s">
				<div class="col-lg-3">
					<div class="topic-img">
						<img src="{% static 'img/waste-management.jpg'%}" alt="Logo" />
					</div>
				</div>
				<div class="col-lg-9">
					<h4>Waste Management</h4>
					<p>
						USeP should develop a plan and policy to comply with the Republic
						Act (RA) 9003 and other policies. The Policy on Banning Single-use
						Plastics: Against Single-use Plastics (AtSUP) must be implemented
						across campuses and regularly reviewed to make it more adaptable to
						change.
					</p>
				</div>
				<hr class="yellow-border" />
			</div>
			<div class="row wow fadeInUp" data-wow-delay="0.1s">
				<div class="col-lg-3">
					<div class="topic-img">
						<img src="{% static 'img/water-and-energy.jpg'%}" alt="Logo" />
					</div>
				</div>
				<div class="col-lg-9">
					<h4>Water and Energy Management</h4>
					<p>
						USeP promotes efficient use of water and energy facilities across
						campuses. The University will invest more in renewable energy
						projects through partnerships with Alumni and other sectors to help
						reduce electricity costs. Policies on water and energy consumption
						must be crafted and implemented.
					</p>
				</div>
				<hr class="yellow-border" />
			</div>
			<div class="row wow fadeInUp" data-wow-delay="0.1s">
				<div class="col-lg-3">
					<div class="topic-img">
						<img src="{% static 'img/transportation.jpg'%}" alt="Logo" />
					</div>
				</div>
				<div class="col-lg-9">
					<h4>Transportation Network</h4>
					<p>
						USeP campus transportation network design must consider public
						safety. The re-fleeting program must consider eco-friendly vehicles
						to reduce air pollution. The campus site development plan should
						integrate the proper placement of pedestrian lanes to minimize
						campus vehicular accidents. The campus land use plan transportation
						network design and open spaces must aim to reduce the parking spaces
						and private vehicles within the campus.
					</p>
				</div>
				<hr class="yellow-border" />
			</div>
			<div class="row wow fadeInUp" data-wow-delay="0.1s">
				<div class="col-lg-3">
					<div class="topic-img">
						<img src="{% static 'img/education.jpg'%}" alt="Logo" />
					</div>
				</div>
				<div class="col-lg-9">
					<h4>Education and Research</h4>
					<p>
						USeP’s should promote the concepts of sustainability through
						instruction and research policies and activities. All students,
						faculty, staff, and other stakeholders must be fully aware of the
						SDGs. Thesis/Dissertation and research projects must align their
						study to SDG; it can directly or indirectly contribute to one goal.
						Topics on sustainability must be incorporated into the course
						offering to increase the level of awareness, especially the
						students. The University may offer short courses or micro-credential
						courses about sustainability.
					</p>
				</div>
				<hr class="yellow-border" />
			</div>
			<!--cross cutting strategy Start-->
			<div class="row wow fadeInUp" data-wow-delay="0.1s">
				<h4 class="text-center mb-3">Cross-cutting strategy</h4>
				<div class="col-lg-3">
					<div class="topic-img">
						<img src="{% static 'img/partnership.jpg'%}" alt="Logo" />
					</div>
				</div>
				<div class="col-lg-9">
					<h4>Partnership</h4>
					<p>
						USeP can further strengthen collaborations with various sectors,
						especially private institutions, to support the advancement of
						sustainability and the circular economy through instruction,
						research, extension, innovation, and production.
					</p>
				</div>
				<hr class="yellow-border" />
			</div>

			<div class="row wow fadeInUp" data-wow-delay="0.1s">
				<div class="col-lg-3">
					<div class="topic-img">
						<img src="{% static 'img/green-procurement.jpg'%}" alt="Logo" />
					</div>
				</div>
				<div class="col-lg-9">
					<h4>Green Procurement Practices</h4>
					<p>
						USeP should comply with the Green Procurement Policy of the
						Philippines with an overall goal of responsible and strategic budget
						spending, sustainable consumption, and competitive and innovative
						industry and services.
					</p>
				</div>
				<hr class="yellow-border" />
			</div>

			<div class="row wow fadeInUp" data-wow-delay="0.1s">
				<div class="col-lg-3">
					<div class="topic-img">
						<img src="{% static 'img/youth-participate.jpg'%}" alt="Logo" />
					</div>
				</div>
				<div class="col-lg-9">
					<h4>Youth Participation for Sustainable Development</h4>
					<p>
						The students are at the forefront of the University’s sustainability
						initiatives. They will be involved in various programs, projects,
						and activities. Students must promote and uphold the sustainability
						principles in instruction, research, extension, and curricular
						activities. Emphasizing the importance of volunteerism, students are
						encouraged to contribute meaningfully to these efforts.
					</p>
				</div>
				<hr class="yellow-border" />
			</div>
			<!--cross cutting strategy End-->
		</div>
		<!--Sustainability Record End-->

		<!-- Sustainability Start -->
		<!-- <div class="container-xxl py-6">
			<div class="container">
				<div class="row g-0 team-items">
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/strat-def-img-1.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="sustainability-det.html"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5>Green Resilience Facilities</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/strat-def-img-2.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5>Waste Management</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/strat-def-img-3.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5>Water and Energy Management.</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/strat-def-img-4.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5>Transportation Network</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="row g-0 team-items">
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/strat-def-img-1.jpg' %} "
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5>Education and Research</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="team-item position-relative">
							<div class="position-relative">
								<img
									class="img-fluid img-sustain"
									src="{% static 'img/strat-def-img-2.jpg' %}"
									alt=""
								/>
								<div class="team-social text-center">
									<a
										class="d-inline-flex align-items-center btn btn-outline-primary border-2 p-2"
										href="#"
									>
										<span class="px-3">Read More</span>
									</a>
								</div>
							</div>
							<div class="bg-light text-center p-4">
								<h5>Green Procurement Practices</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Sustainability End -->
	</section>
</div>

{% include 'includes/footer.html' %} {% endblock %}
