{% extends 'sdgDashApp/base.html' %}
{% load static %}

{% block body %} 
{% include 'sdgDashApp/includes/header.html' %}
{% include 'sdgDashApp/includes/sidebar.html' %}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
                <div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 class="m-0">Target Library</h1>
							</div>
							<!-- /.col -->
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active">Target Library</li>
								</ol>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

						<!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <!-- Small boxes (Stat box) -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                              Program Records
                                            </div>
                                            <div class="card-body">
                                                    <table id="example" class="table table-bordered table-striped dataTable dtr-inline" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Campus</th>
                                                                <th>Area(sqm)</th>
                                                                <th>Area(Has)</th>
																<th>Forest Veg.(sqm)</th>
                                                                <th>Forest Veg.(Has)</th>
																<th>Forest Veg. Percentage</th>
																<th>Plant Veg.(sqm)</th>
                                                                <th>Plant Veg.(Has)</th>
																<th>Plant Veg. Percentage</th>
																<th>Water Abs.(sqm)</th>
                                                                <th>Water Abs.(Has)</th>
																<th>Water Abs. Percentage</th>
																<th>Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
        
                                           </div>
                                            <div class="card-footer">
                                                <div class="row">
                                                    <button type="button" id="add-new"  class="btn bg-gradient-success" data-toggle="modal" data-target="#modal-target-lg">
                                                        Add New
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                        
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- /.content -->
                        {% include 'sdgDashApp/themes/modal-veg-map/vegMapAdd.html' %}
                  
                        {% include 'sdgDashApp/themes/modal-veg-map/vegMapEdit.html' %}
                        
                        {% include 'sdgDashApp/themes/modal-veg-map/vegMapDelete.html' %}
                      

			</div>
			<!-- /.content-wrapper -->
            {% include 'sdgDashApp/includes/footer.html' %}

			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
			</aside>
			<!-- /.control-sidebar -->
		</div>
		<!-- ./wrapper -->
    {% endblock %}
    {% block scripts %}
    <script>



        $(document).ready(function() {

			function getNextPkey(){
					if ( !siteTable.data().any() ) {
						$('#id_targetId').val(1) 
					}
					else {
						var lastIndex = siteTable.rows().indexes().length - 1;
						var lastRowData = siteTable.row(lastIndex).data();
						// $('#id_targetId').val(lastRowData.targetId + 1) 
						if (lastRowData && lastRowData.targetId) {
							$('#id_targetId').val(lastRowData.targetId + 1);
						} else {
							console.error('targetId not found in lastRowData.');
						}
					}
				}

            $(".sdg-select").select2({
				theme: "bootstrap4",
			});
			
			var modalEdit = $("#modal-target-edit-lg")
			var modalDelete = $("#modal-target-del-lg")

			var addForm = $("#target-add-form")
			var addformInput = $("#target-add-form input")
			var editForm = $("#target-edit-form");
			var editformInput = $("#target-edit-form input")
			var delForm = $("#target-del-form");
			 
			var formSelector = "#target-edit-form";
			var inputSelector1 = "input[name='targetId']";
			var inputSelector2 = "input[name='targetCode']";
            var inputSelector3 = "textarea[name='targetDesc']";

			totalVal = 0
			perVal = 0
			ctrlNo="";
			analId = "";

			var siteTable = $("#example").DataTable({
			ajax: "/vegMapJsonList/",
			rowId: "targetId",
			order: [0, "desc"],
			columns: [
				{ title:"ID",data: "vegId",  width: "5%" },
				{ title: "Campus", data: "campus" },
				{ title: "Area(sqm)", data: "campAreaSqm" },
				{ title: "Area(Has)", data: "campAreaHas" },
				{ title: "Forest Veg.(sqm)", data: "forestVegSqm" },
				{ title: "Forest Veg.(Has)", data: "forestVegHas" },
				{ title: "Forest Veg. Percentage", data: "forestVegPctTotArea" },
				{ title: "Plant Veg.(sqm)", data: "plantVegSqm" },
				{ title: "Plant Veg.(Has)", data: "plantVegHas" },
				{ title: "Plant Veg. Percentage", data: "plantVegPctTotArea" },
				{ title: "Water Abs.(sqm)", data: "waterAbsSqm" },
				{ title: "Water Abs.(Has)", data: "waterAbsHas" },
				{ title: "Water Abs. Percentage", data: "waterAbsPctTotArea" },
				{
                    title: "Action",
					data: null,
					defaultContent:
						'<button class="btn edit-area btn-default" > <i class="fas fa-edit"></i></button> ' +
						'<button class="btn delete-area btn-default "> <i class="fa fa-trash" aria-hidden="true"></i></button> ',
					targets: -1,
					width: "15%",
				},
			],
			select: {
				style: "os",
				selector: "td:not(:first-child)",
			},
			});

			$("#example tbody").on("click", ".edit-area", function(e) {
				e.preventDefault();
				e.stopPropagation();
				let data = siteTable.row(e.target.closest("tr")).data();
				pKey = data.targetId

                console.log(data)
                // $("#area-edit-form input[name='code']").val(data.code);
                $(formSelector).find(inputSelector1).val(data.targetId);
                $(formSelector).find(inputSelector2).val(data.targetCode);
				$(formSelector).find(inputSelector3).val(data.targetDesc);
				modalEdit.modal("show");
			});

			$("#example tbody").on("click", ".delete-area", function(e) {
				e.preventDefault();
				e.stopPropagation();
				let data = siteTable.row(e.target.closest("tr")).data();
				pKey = data.targetId
				const element = document.getElementById("context");
				element.innerHTML =
					"<h5>ID: " + pKey + "</h5>" +  "<h5>Description: " + data.targetDesc;
				modalDelete.modal("show");
			});

			$('#add-new').click(function() {
				// if ( !siteTable.data().any() ) {
				// 	$('#id_targetId').val(1) 
				// }
				// else {
				// 	var lastIndex = siteTable.rows().indexes().length - 1;
				// 	var lastRowData = siteTable.row(lastIndex).data();
				// 	$('#id_targetId').val(lastRowData.targetId + 1) 
				// }
				getNextPkey();
			});


			addForm.on("submit", function (e) {
				e.preventDefault();
				e.stopPropagation();
				var $this = $(this);
				var valid = true;

				addformInput.each(function () {
					let $this = $(this);
					var currentInputVal = $this.val();
					if (currentInputVal == null || currentInputVal == "") {
						valid = false;
						$this
							.parent(".validate")
							.find(".mySpan")
							.text(
								"The " +
									$this.attr("name").replace(/[\_]+/g, " ") +
									"field is required"
							);
					} else {
						$this.parent(".validate").find(".mySpan").text("");
					}
				});
				console.log(valid);
				if (valid) {
					$(".btn-save").text("Saving...").attr("disabled", true);
					// let data = $this.serialize();
					let data =$this.serialize() + "&targetId=" +  $('#id_targetId').val();
					
					console.log(data)
					$.ajax({
						url: $(".btn-save").data("url"),
						type: "POST",
						data:data,
						dataType: "json",
						success: function (data) {
							if (data.Status == "Saved") {
								Swal.fire({
									position: "center",
									icon: "success",
									title: "Record Successfully Saved!",
									showConfirmButton: false,
									timer: 1500,
								});

								$(".btn-save").text("Save").attr("disabled", false);
								// $this[0].reset();
								$('#id_targetCode').val('');  
								$('#id_targetDesc').val(''); 
								$("#example").DataTable().ajax.reload(function() {
									getNextPkey();
								});
								// $("#example").DataTable().ajax.reload();
								// getNextPkey();
								// $("#modal-target-lg").modal("hide");
							} else {
								Swal.fire({
									position: "center",
									icon: "error",
									title: "Failed to Save Record!",
									showConfirmButton: false,
									timer: 1500,
								});
							}
						},
						error: function (data) {
							Swal.fire({
								position: "center",
								icon: "error",
								title: "Error Occured!",
								showConfirmButton: false,
								timer: 1500,
							});
						},
					});
				 }
				return false;
			});
			
			editForm.on("submit", function (e) {
				e.preventDefault();
				e.stopPropagation();

				var $this = $(this);
				var valid = true;

			editformInput.each(function () {
					let $this = $(this);
					var currentInputVal = $this.val();

					if (currentInputVal == null || currentInputVal == "") {
						valid = false;
						$this
							.parent(".validate")
							.find(".mySpan")
							.text(
								"The " +
									$this.attr("name").replace(/[\_]+/g, " ") +
									"field is required"
							);
					} else {
						$this.parent(".validate").find(".mySpan").text("");
					}
				});

				if (valid) {
					$(".btn-update").text("Saving...").attr("disabled", true);
					// let data = $this.serialize();
					data = $this.serialize()  + "&targetId=" +  pKey;
					console.log(data)
					var editUrl = $(".btn-update").data("url"); 
					$.ajax({
					    url: editUrl, // editUrl.replace("0", pKey),
						type: "POST",
						data: data,
						dataType: "json",
						success: function (data) {
							console.log(data.Status);
							if (data.Status == "Saved") {
								Swal.fire({
									position: "center",
									icon: "success",
									title: "Record Successfully Updated!",
									showConfirmButton: false,
									timer: 1500,
								});

								$(".btn-update").text("update").attr("disabled", false);
								$("#example").DataTable().ajax.reload();
								modalEdit.modal("hide");
							} else {
								Swal.fire({
									position: "center",
									icon: "error",
									title: "Failed to Update Record!",
									showConfirmButton: false,
									timer: 1500,
								});
							}
						},
						error: function (data) {
							Swal.fire({
								position: "center",
								icon: "error",
								title: "Error Occured!",
								showConfirmButton: false,
								timer: 1500,
							});
						},
					});
				}
			});

			delForm.on("submit", function (e) {
				e.preventDefault();
				e.stopPropagation();
				siteTable.row($(this).parents("tr")).remove().draw();
				var delUrl = $(".btn-delete").data("url");
				$.ajax({
					url: delUrl.replace("0", pKey),
					method: "POST",
					success: function (data) {
						if (data.Status == "Deleted") {
							Swal.fire({
								position: "center",
								icon: "success",
								title: "Record Successfully Deleted!",
								showConfirmButton: false,
								timer: 1500,
							});
							$("#example").DataTable().ajax.reload();
							modalDelete.modal("hide");
						} else {
							Swal.fire({
								position: "center",
								icon: "error",
								title: "Failed to Delete Record!",
								showConfirmButton: false,
								timer: 1500,
							});
						}
					},
					error: function (data) {
						Swal.fire({
							position: "center",
							icon: "error",
							title: "Error Occured!",
							showConfirmButton: false,
							timer: 1500,
						});
					},
				});
			});

		});

	</script>
	{% endblock %}