{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>USeP SDG Website</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="" name="keywords" />
		<meta content="" name="description" />

		<!-- Favicon -->
		<!-- <link href="img/favicon.ico" rel="icon" /> -->
		<link rel="icon" href="{% static 'img/favicon.ico' %}" />

		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- Icon Font Stylesheet -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
			rel="stylesheet"
		/>

		<!-- Libraries Stylesheet -->
		<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" />
		<link
			href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}"
			rel="stylesheet"
		/>

		<!-- Customized Bootstrap Stylesheet -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

		<!-- Flipbook StyleSheets -->
		<link href="{% static 'dflip/css/dflip.min.css' %}" rel="stylesheet" />

		<!-- themify-icons.min.css -->
		<link
			href="{% static '/dflip/css/themify-icons.min.css' %}"
			rel="stylesheet"
		/>

		<!-- Template Stylesheet -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	</head>

	<body>
		<div class="wrapper">
			<!-- Topbar Start -->
			<div class="container-fluid bg-top-bar text-light p-0">
				<div class="row gx-0 d-none d-lg-flex">
					<div class="col-lg-7 px-5 text-start">
						<div class="h-100 d-inline-flex align-items-center me-4">
							<small class="fa fa-map-marker-alt text-primary me-2"></small>
							<small
								>Bo. Obrero, Iñigo St, Poblacion District, Davao City, 8000
								Davao del Sur</small
							>
						</div>
					</div>
					<div class="col-lg-5 px-5 text-end">
						<div class="h-100 d-inline-flex align-items-center me-4">
							<small class="fa fa-phone-alt text-primary me-2"></small>
							<small>(082) 227 8192</small>
						</div>
						<div class="h-100 d-inline-flex align-items-center mx-n2">
							<a
								class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary"
								href=""
								><i class="fab fa-facebook-f"></i
							></a>
							<a
								class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary"
								href=""
								><i class="fab fa-twitter"></i
							></a>
							<a
								class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary"
								href=""
								><i class="fab fa-linkedin-in"></i
							></a>
							<a class="btn btn-square btn-link rounded-0" href=""
								><i class="fab fa-instagram"></i
							></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Topbar End -->

			<!-- Navbar Start -->
			<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
				<a
					href="{% url  'scorecard' %}"
					class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5"
				>
					<div class="logo-column"></div>
					<h2 class="m-0 logo-name">University of Southeastern Philippines</h2>
				</a>
				<button
					type="button"
					class="navbar-toggler me-4"
					data-bs-toggle="collapse"
					data-bs-target="#navbarCollapse"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<div class="navbar-nav ms-auto p-4 p-lg-0">
						<a href="{% url  'home' %}" class="nav-item nav-link active"
							>Home</a
						>
						<a href="{% url  'commitment' %}" class="nav-item nav-link"
							>Commitment</a
						>
						<a href="{% url  'strategy' %}" class="nav-item nav-link"
							>Sustainability Strategy</a
						>
						<div class="nav-item dropdown">
							<a
								href="#"
								class="nav-link dropdown-toggle"
								data-bs-toggle="dropdown"
								>SDG Initiatives</a
							>
							<div class="dropdown-menu bg-light m-0">
								<a href="{% url  'campusMap' %}" class="dropdown-item"
									>Green Campus</a
								>
								<a href="{% url  'sustainability-ppa' %}" class="dropdown-item"
									>Sustainability PPAs</a
								>
								<a href="{% url  'policies' %}" class="dropdown-item"
									>Sustainability Policies
								</a>
								<a href="#" class="dropdown-item"
									>Sustainability Related Centers/Offices
								</a>
								<a href="{% url  'sdgNetwork' %}" class="dropdown-item"
									>Sustainability Networks
								</a>
							</div>
						</div>
						<a href="{% url  'scorecard' %}" class="nav-item nav-link"
							>Scorecard</a
						>
						<a href="{% url  'newsListView' %}" class="nav-item nav-link"
							>News</a
						>
					</div>

					<a
						href="{% url  'sustainability-ppa' %}"
						class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
						>SDG's<i class="fa fa-arrow-right ms-3"></i
					></a>
				</div>
			</nav>
			<!-- Navbar End -->

			<!-- Back to Top -->
			<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
				><i class="bi bi-arrow-up"></i
			></a>
			<!--Section -->
			{% block body %} {% endblock %}
			<!--End Section-->
		</div>

		<!-- Custom Javascript -->
		<!-- <script src="{% static 'js/custom.js' %}"></script> -->
		<!-- JavaScript Libraries -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

		<script src="https://d3js.org/d3.v7.min.js"></script>

		<script src="{% static 'lib/wow/wow.min.js' %}"></script>
		<script src="{% static 'lib/easing/easing.min.js' %}"></script>
		<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
		<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

		<!-- Template Javascript -->
		<script src="{% static 'js/main.js' %}"></script>

		<!-- <script src="http://www.yoursite.com/dflip/js/libs/jquery.min.js" type="text/javascript"></script> -->
		<script
			src="{% static  'dflip/js/dflip.min.js' %}"
			type="text/javascript"
		></script>

		<script>
			document.addEventListener("DOMContentLoaded", () => {
				if (window.devicePixelRatio === 1.5) {
					// 150% scale
					document.body.classList.add("scale-150");
				}
			});
		</script>

		{% block scripts %} {% endblock %}
	</body>
</html>
