<div class="modal fade" id="modal-target-lg">
	<form id="target-add-form" autocomplete="off">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-gradient-success">
					<h4 class="modal-title">Add New Entry</h4>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							{% csrf_token %}
							<div class="form-group validate">
								<label for="target-id">Target ID</label>
								<input
									type="text"
									name="code"
									id="id_targetId"
									class="form-control"
									disabled
								/>
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="goal">Goal</label>
								<select id="sdg" name="sdgId" class="form-control sdg-select">
									{% for sdg in sdgList %}
									<option value="{{ sdg.sdgId }}">{{ sdg.sdgName }}</option>
									{% endfor %}
								</select>
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="code"> Code</label>
								{{ form.targetCode }}
								<small class="text-red text-muted mySpan"></small>
							</div>
							<div class="form-group validate">
								<label for="desc"> Description</label>
								{{ form.targetDesc }}
								<small class="text-red text-muted mySpan"></small>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button
						type="submit"
						class="btn btn-success btn-save"
						data-url="{% url 'sdgTargetSaveUpdateParams' %}"
					>
						Save
					</button>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</form>
</div>
<!-- /.modal-dialog -->
