/********** Template CSS **********/
:root {
	--primary: #f3bd00;
	--secondary: #757575;
	--light: #f3f6f8;
	--dark: #0c2b4b;
}

.bg-top-bar {
	background-color: #470303;
}

.logo-column {
	background-image: url("../img/usep-seal.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	height: 65px;
	padding-left:75px;
	display: flex;
	align-items: center;
}
.carousel-item img.custom-height {
	height: 750px;
	object-fit: cover;
}

.logo-metric img {
	width: 35%; 
	height: auto; 
	max-width: 35%; 
	display: block; 
	margin: 0 auto;
}
.logo-impact img {
	width: 70%; 
	height: auto; 
	max-width: 70%; 
	display: block; 
	margin: 0 auto; /
}

.logo-name {
	font-family: 'Cinzel';
	font-size: 20px;
	font-weight: 700;
}
.ind-usep-logo {
	width: 200px;
	height: 200px;
}


.global-ranking {
	min-height: 50vh;
	background: linear-gradient(
			rgba(255, 255, 255, 0.9),
			rgba(255, 255, 255, 0.9)
		),
		url(../img/carousel-2.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.global-img {
	width: 110%; 
	height: 100%;
}

.global-img img {
	width: 110%; 
	height: 100%;
	object-fit: contain; 
	display: block; 
}

.bg-custom-btn {
	background-color: #760000;
}
.bg-custom-border {
	border: 1px solid #470303;
}
.col-lg-6 .about-img {
	position: relative;
    overflow: hidden; /* Ensures the image doesn't overflow the div */
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center; /* Vertically centers the image */
}

.pres-img {
    width: 75%;
    height: 90%;
    object-fit: cover; /* Crops the image and makes it cover the entire div */
    display: block;
}

.position-absolute {
    z-index: 10; /* Ensures the second image remains on top */
}

/** Commitment **/
.col-lg-6 .commitment-img {
	position: relative;
    overflow: hidden; /* Ensures the image doesn't overflow the div */
    /* width: 95%;
    height: 85%; */
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center; /* Vertically centers the image */
}


/*****/
.bg-footer {
	background-color: #760000
}

.img-sustain {
	width: 100%; 
    height: 250px; 
    object-fit: cover; 
}

.spacer {
	margin-left: 27px;
}

.yellow-border {
    border: none; /* Remove the default border */
    border-top: 3px solid #0C2B4B ; /* Create a yellow line */
    width: 100%; /* Set the width of the line */
    margin: 20px 0; /* Add space around the line */
}

/** Related SDG **/
.related-sdg {
	border:none;
}

.related-sdg img {
    width: 90px !important;  /* Fixed width */
    height: 90px !important; /* Fixed height */
    object-fit: cover; /* Ensures the image fills the area without distortion */
}
/****/

/** Goal Topics ***/
.topic-img {
	width: 100%;
}
.topic-img img {
    width: 100%;  /* Fixed width */
    height: 100%; /* Fixed height */
    object-fit: cover; /* Ensures the image fills the area without distortion */
}
/****/

/** Goal cards **/
.card-horizontal {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.card-horizontal img {
    width: 200px;  /* Fixed width */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Ensures the image fills the area without distortion */
}

.card-body {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
}
/****/


/** Goal Imgages  **/
.goal-img {
	width: 200px; 
	height: auto; 
	max-width: 100%; 
	border: 2px solid #f0f0f0
}

.ifographic-img {
	margin: 0 auto; /* Center the div horizontally */
	max-width: 80%; /* Control the width of the image container */
	background-color: #f0f0f0; /* Optional: background color */
}

.ind-img{
	overflow: hidden;
	width: 95%;
	height: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ind-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}
/****/

/** Goals indicator **/

.ind-content {
	padding: 5px;
	display: flex;
}

.d-flex {
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
}

.py-5-5 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}


.ind-code {
    margin-right: 20px;
}

/****/
/** customs **/
a h5 {
	color: #F3BD00;
    text-decoration: none
}

.dreport-1 {
	font-size: 27px;

}

/*****/

.py-6 {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.my-6 {
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.back-to-top {
	position: fixed;
	display: none;
	right: 30px;
	bottom: 30px;
	z-index: 99;
}

/** Tabs  **/
.nav-tabs {
	border-bottom: none; 

}
.nav-tabs .nav-link {
	border: none; 
	color: black; 
	font-size: 1.25rem; /* Larger font size */
    font-weight: 600; /* Darker font weight */
}
.nav-tabs .nav-link.active {
	border: none;
	border-bottom: 2px solid #F3BD00;
	color: #F3BD00; 
}
.nav-tabs .nav-link:hover {
	background-color: lightgrey; 
	color: #F3BD00;
}

/*** Spinner ***/
#spinner {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
	z-index: 99999;
}

#spinner.show {
	transition: opacity 0.5s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

/*** Button ***/
.btn {
	font-weight: 500;
	transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
	color: #ffffff;
}

.btn-square {
	width: 38px;
	height: 38px;
}

.btn-sm-square {
	width: 32px;
	height: 32px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
	top: -100px;
	transition: 0.5s;
}

.navbar .navbar-brand,
.navbar a.btn {
	height: 80px;
}

.navbar .navbar-nav .nav-link {
	margin-right: 30px;
	padding: 25px 0;
	color: var(--dark);
	font-weight: 500;
	text-transform: uppercase;
	outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
	color: var(--primary);
}

.navbar .dropdown-toggle::after {
	border: none;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	vertical-align: middle;
	margin-left: 8px;
}



/*** Header ***/
.carousel-caption {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: rgba(0, 0, 0, 0.75);
	z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
	width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 3rem;
	height: 3rem;
	background-color: var(--primary);
	border: 10px solid var(--primary);
}

@media (max-width: 768px) {
	#header-carousel .carousel-item {
		position: relative;
		min-height: 450px;
	}

	#header-carousel .carousel-item img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.page-header {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url(../img/carousel-1.jpg) center center no-repeat;
	background-size: cover;
}


.topic-header {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
	url(../img/article-header.jpg) center center no-repeat;
background-size: cover;
}

/** SDG headers **/
.goal-header {
	background-color: #C5192D;
}

.education-header {
	background-color: #C5192D;
}

.poverty-header {
	background-color: #e5233d;
}

.hunger-header {
	background-color: #dda63a;
}

.goal3-header {
	background-color: #4ca146;
}

.goal5-header {
	background-color: #ef402c;
}

.goal6-header {
	background-color: #27bfe6;
}

.goal7-header {
	background-color: #fbc412;
}
.goal8-header {
	background-color: #a31c44;
}
.goal9-header {
	background-color: #f26a2d;
}
.goal10-header {
	background-color: #e01483;
}
.goal11-header {
	background-color: #f89d2a;
}
.goal12-header {
	background-color: #bf8d2c;
}
.goal13-header {
	background-color: #407f46;
}
.goal14-header {
	background-color: #1f97d4;
}
.goal15-header {
	background-color: #59ba48;
}
.goal16-header {
	background-color: #126a9f;
}
.goal17-header {
	background-color: #13496b;
}

a.btn-goal {
    /* background-color: #59ba48; */
    padding: 20px;
    margin: 5px;
    color: #59ba48;
    border: 2px solid #59ba48;
}

a.btn-goal:hover {
    background-color: #59ba48;
    color: #ffffff;
}




 /******/
.breadcrumb-item + .breadcrumb-item::before {
	color: #999999;
}

/*** Campuses ***/

.img-map-usep {
	width: 100%;
    object-fit: cover;

}

.img-map-holder {
	width: 100%;
    height: 500px;
    object-fit: cover;
}

.int-click {
	font-weight: 700;

}

table.tbl-veg-map th {
    border-bottom: 3px solid;
	padding: 10px 0px 10px 0px;
}

table.tbl-veg-map td {
    padding: 10px;
	border: 1px solid;
	text-align: center;
}

.veg-title {
	text-align: center;
	padding: 15px;
}

/****************/

/*** Campuses ***/
.policy-title {
	color:#0C2B4B;

}

/****************/
/*** Facts ***/
@media (min-width: 991.98px) {
	.facts {
		position: relative;
		margin-top: -75px;
		z-index: 1;
	}
}

/*** Courses ***/
.courses {
	min-height: 100vh;
	background: linear-gradient(
			rgba(255, 255, 255, 0.9),
			rgba(255, 255, 255, 0.9)
		),
		url(../img/carousel-1.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.courses-item .courses-overlay {
	position: absolute;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	opacity: 0;
	transition: 0.5s;
}

.courses-item:hover .courses-overlay {
	height: 100%;
	opacity: 1;
}

/*** Team ***/
.team-items {
	margin: -0.75rem;
}

.team-item {
	padding: 0.75rem;
}

.team-item::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #ffffff;
	transition: 0.5s;
	z-index: -1;
}

.team-item:hover::after {
	height: 100%;
	background: var(--primary);
}

.team-item .team-social {
	position: absolute;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.75);
	overflow: hidden;
	opacity: 0;
	transition: 0.5s;
}

.team-item:hover .team-social {
	height: 100%;
	opacity: 1;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
	height: 40px;
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.testimonial-carousel .owl-dot {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	width: 20px;
	height: 20px;
	background: transparent;
	border: 2px solid var(--primary);
	transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
	width: 40px;
	height: 40px;
	background: var(--primary);
}

.testimonial-carousel .owl-item img {
	width: 150px;
	height: 150px;
}




/*** Footer ***/
.footer .btn.btn-link {
	display: block;
	margin-bottom: 5px;
	padding: 0;
	text-align: left;
	color: var(--light);
	font-weight: normal;
	text-transform: capitalize;
	transition: 0.3s;
}

.footer .btn.btn-link::before {
	position: relative;
	content: "\f105";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: var(--light);
	margin-right: 10px;
}

.footer .btn.btn-link:hover {
	color: var(--primary);
	letter-spacing: 1px;
	box-shadow: none;
}

.copyright {
	background: #470303;
}

.copyright a {
	color: var(--primary);
}

.copyright a:hover {
	color: var(--light);
}


@font-face {
    font-family: 'Cinzel-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cinzel-Regular'), url('Cinzel-Regular.woff') format('woff');
    }


@font-face {
	font-family: 'Cinzel-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Cinzel-Bold'), url('Cinzel-Bold.woff') format('woff');
	}

/***for 150 scale Ratio***/

.scale-150 .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.scale-150 .navbar-expand-lg .navbar-nav {
    font-size: 10px;
    text-align: center;
}

.scale-150 .navbar .navbar-brand,
.scale-150 .navbar a.btn {
    height: 65px;
    font-size: 10px;
}

.scale-150 .logo-name {
    font-size: 15px;
}

.scale-150 .px-lg-5 {
    padding-left: 3rem !important;
}

	
@media (max-width: 991.98px) {
	.navbar .navbar-nav .nav-link {
		margin-right: 0;
		padding: 10px 0;
	}

	.navbar .navbar-nav {
		border-top: 1px solid #eeeeee;
	}
}

@media (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: block;
		border: none;
		margin-top: 0;
		top: 150%;
		opacity: 0;
		visibility: hidden;
		transition: 0.5s;
	}

	.navbar .nav-item:hover .dropdown-menu {
		top: 100%;
		visibility: visible;
		transition: 0.5s;
		opacity: 1;
	}
	
}

@media only screen and (max-width: 767px) { 

	h2.m-0.logo-name {
		display: none;
	}
	.ind-usep-logo {
		width: 150px;
		height: 150px;
	}
}
